body {
    background-color: #000000;
}

.box {
    background-color: rgb(231, 223, 223);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 37vw;
    padding: 32px 0px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #142B30;
    border-radius: 15px;
    display: grid;
    justify-content: center;
    box-shadow: -1px 4px 22px 2px rgba(0,0,0,0.73);
    -webkit-box-shadow: -1px 4px 22px 2px rgba(0,0,0,0.73);
    -moz-box-shadow: -1px 4px 22px 2px rgba(0,0,0,0.73);

}

.wrap {
    width: 100%;
    text-align: center;
}

input[type="range"] {
    display: inline-block;
    width: 80%;
    margin-top: 24px;
    margin-left: 10px;
}

span {
    display: inline-block;
    text-align: center;
    margin: 20px 0;
    background-color: rgb(51, 49, 49);
    color: #fff;
    padding: 10px 30px;
    font-size: 26px;
    letter-spacing: 0.5px;
    border-radius: 27px;
}

@media screen and (max-width: 920px) {
    .container {
        width: 70vw;
    }

    span {
        padding: 10px ;
        font-size: 26px;
        border-radius: 27px;
    }
   
}